/*
=============== 
Fonts
===============
*/

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  --clr-lemon: #aab91e;
  --clr-black: #000000;
  --clr-lightGray: #dcdbdb;
  --clr-Grey: #8e8e93;
  --clr-grey2: #aeaeb2;
  --clr-grey3: #c7c7cc;
  --clr-grey4: #d1d1d6;
  --clr-grey5: #e5e5ea;
  --clr-grey6: #f2f2f7;
  --clr-white: #fff;
  --ff-primary: "Nunito Sans", serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #111111;
  line-height: 1.5;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img:not(.nav-logo) {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4 {
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
  /* .section-center {
    width: 70vw;
  } */
}
/*  global classes */

.btn {
  text-transform: uppercase;
  background: var(--clr-lemon);
  display: block;
  border-radius: 4px;
  padding: 17px 48px;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  cursor: pointer;
  font-family: var(--ff-primary);
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  color: #212121;
  border: none;
}
.btn:hover {
  background: var(--clr-primary-7);
}
/* section */
.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1280px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 90vw;
  }
}
/* Nav styles */
.genral-nav-links {
  display: none;
}
.nav-logo {
  width: 153px;
}
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 40px 0;
}
.nav-center {
  margin: 0 auto;
  width: 90vw;
  max-width: 1280px;
}

.nav-links,
.nav-btn {
  display: none;
}
/* hamburger styling */
.hamburger {
  width: 32px;
  height: 21px;
  cursor: pointer;
  position: relative;
  display: grid;
  place-items: center;
  display: block;
  z-index: 999;
}
.close {
  width: 32px;
  height: 21px;
  cursor: pointer;
  position: absolute;
  display: grid;
  place-items: center;
  display: block;
  top: 0;
  right: 0;
  margin: 32px;
  transition: var(--transition);
}
.close:hover > * {
  background-color: var(--clr-grey6);
}
.close-top,
.close-middle,
.close-bottom {
  width: 32px;
  height: 1px;
  background-color: var(--clr-white);
  position: absolute;
  top: 0;
  left: 0;
  transition: all linear 0.25s;
  transform: rotate(0deg);
}
.close-top {
  transform: rotate(45deg);
}
.close-middle {
  visibility: hidden;
}
.close-bottom {
  transform: rotate(-45deg);
}
.hamburger:hover > * {
  background-color: var(--clr-white);
}
.hide-ham {
  visibility: hidden;
}
.h-top,
.h-middle,
.h-buttom {
  width: 32px;
  height: 1px;
  background: var(--clr-lemon);
  position: absolute;
  top: 0;
  left: 0;
  transition: all linear 0.25s;
  transform: rotate(0deg);
}
.h-middle {
  transform: translateY(9px);
}
.h-buttom {
  transform: translateY(18px);
}
.open {
  transform: rotate(90deg);
}
.open:focus > * {
  background-color: var(--clr-white);
}
.open .h-top {
  transform: rotate(45deg) translateY(0px) translateX(0px);
}
.open .h-middle {
  visibility: hidden;
}
.open .h-buttom {
  transform: rotate(-45deg) translateY(0px) translateX(0px);
}
.open-sidebar {
  visibility: visible;
  transform: translateY(0%);
}
.open {
  transform: rotate(90deg);
}
/* End of hamburger */
@media screen and (min-width: 992px) {
  .nav-links,
  .nav-btn {
    display: flex;
    gap: 56px;
  }
  .nav-links a {
    font-family: var(--ff-primary);
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #fff;
    transition: var(--transition);
    position: relative;
  }
  .nav-links a::after {
    content: "";
    position: absolute;
    width: 0px;
    height: 2px;
    left: 0;
    bottom: -20%;
    background-color: var(--clr-lemon);
    transition: var(--transition);
  }
  .nav-links a:hover::after {
    width: 100%;
  }
  .hamburger {
    display: none;
  }
  .nav-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-btn {
    border: none;
    font-family: var(--ff-primary);
    font-weight: 600;
    font-size: 14px;
    color: #212121;
  }
  .nav-logo {
    width: 229px;
  }
}

/*Aside styling */
.aside {
  background-color: var(--clr-black);
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  padding: 50px 32px;
  transition: var(--transition);
}
.aside-links a {
  font-family: var(--ff-primary);
  font-weight: 900;
  font-size: 16px;
  line-height: 160%;
  color: var(--clr-lemon);
  text-transform: uppercase;
}
.aside ul li {
  display: block;
  margin-bottom: 16px;
}

/*Hero Section Styling*/
.hero-container {
  background: linear-gradient(rgba(0, 0, 0, 0.48), rgba(0, 0, 0, 0.48)),
    url(/images/header-image/pexels-george-milton-6953873.png) center/cover
      fixed;
  object-fit: cover;
  height: calc(100vh - 80px);
}
.hero-article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.hero-article h1 {
  font-family: var(--ff-primary);
  font-weight: 900;
  font-size: 48px;
  line-height: 125%;
  text-align: center;
  color: #fff;
  max-width: 300px;
}
.sliders-container {
  display: flex;
  gap: 8px;
}
.slider {
  border-radius: 999999px;
  width: 8px;
  height: 8px;
  background-color: var(--clr-grey4);
}
.slider1 {
  border-radius: 999999px;
  width: 24px;
  height: 8px;
  background-color: var(--clr-lemon);
}
@media screen and (min-width: 992px) {
  .hero-container {
    background: linear-gradient(rgba(0, 0, 0, 0.48), rgba(0, 0, 0, 0.48)),
      url(/images/header-image/pexels-cottonbro-studio-6144024.png) center/cover
        fixed;
    height: calc(100vh-80px);
  }
  .hero-article h1 {
    font-size: 88px;
    line-height: 125%;
    max-width: 777px;
  }
}
/* Latest Episode */
.episode-center {
  margin-top: 50px;
  position: relative;
}
.epsiode-banner-container {
  background-color: var(--clr-lemon);
  padding: 24px 16px;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  margin-bottom: 24px;
}
.episode-title {
  width: 90vw;
  margin: 0 auto;
  max-width: 1280px;
  padding-top: 82px;
}
.episode-title-line {
  width: 160px;
  height: 2px;
  background-color: var(--clr-lemon);
  margin-bottom: 24px;
}
.episode-title h1 {
  font-family: var(--ff-primary);
  font-weight: 900;
  font-size: 32px;
  line-height: 120%;
  color: var(--clr-white);
  margin-bottom: 42px;
}
.episode-banner-article h2 {
  font-family: var(--ff-primary);
  font-weight: 800;
  font-size: 18px;
  line-height: 140%;
  color: var(--clr-black);
  margin-top: 32px;
}
.episode-banner-article p {
  font-family: var(--ff-primary);
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: var(--clr-black);
  margin-bottom: 16px;
}
.episode-social-container {
  display: flex;
  width: 166px;
  justify-content: space-between;
}
.ad-dot {
  border-radius: 100000000px;
  width: 8px;
  height: 8px;
  background-color: var(--clr-lemon);
}
.ad-container p {
  font-family: var(--ff-primary);
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: var(--clr-lemon);
}
.ad-container {
  display: flex;
  position: absolute;
  top: 6%;
  right: -30%;
  background-color: var(--clr-black);
  transform: rotate(37deg);
  padding: 8px;
}
.ad-1,
.ad-2,
.ad-3,
.ad-4,
.ad-5,
.ad-6 {
  display: flex;
  align-items: center;
  gap: 8px;
}
@media screen and (min-width: 778px) {
  .epsiode-banner-container {
    display: flex;
    gap: 16px;
    align-items: center;
  }
  .episode-img-container img {
    border-radius: 4px;
    width: 320px;
    height: 240px;
  }

  .episode-banner-article {
    max-width: 768px;
  }
}
@media screen and (min-width: 998px) {
  .episode-center,
  .oldepisode-center {
    width: 70vw;
  }
  .episode-title {
    width: 70vw;
  }
}

/* Old Episode */
.old-epispde-container {
  /* background-color: pink; */
  margin-bottom: 36px;
}
.oldepisode-img-container {
  width: auto;
  padding: 8px;
}
.oldepisode-content {
  padding: 8px;
}
.oldepisode-content h2 {
  font-family: var(--ff-primary);
  font-weight: 800;
  font-size: 18px;
  line-height: 140%;
  color: var(--clr-white);
  margin-top: 32px;
}
.oldepisode-content p {
  font-family: var(--ff-primary);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--clr-white);
  margin-bottom: 16px;
}

@media screen and (min-width: 778px) {
  .old-epispde-container {
    display: flex;
    gap: 16px;
    align-items: center;
  }
  .oldepisode-content h2 {
    margin-top: 0px;
  }
  .oldepisode-img-container img {
    border-radius: 4px;
    width: 320px;
    height: 240px;
  }
  .oldepisode-content p {
    max-width: 768px;
  }
  .load-container {
    max-width: 320px;
    margin: 0 auto;
  }

  .load-btn-center {
    width: 70vw;
  }
}
.load-btn {
  width: 100%;
  border: none;
  font-family: var(--ff-primary);
  font-weight: 700;
}
.load-container {
  /* width: 100%; */
  display: flex;
  justify-content: center;
}

/* Available on thes platform */

.platform {
  display: flex;
  gap: 16px;
  align-items: center;
}

.platform {
  color: var(--clr-black);
  font-family: var(--ff-primary);
  font-weight: 700;
  padding-bottom: 40px;
}
.platform-center-container {
  background-color: var(--clr-lemon);
  margin-top: 56px;
}
.platform-tittle h1 {
  font-family: var(--ff-primary);
  font-weight: 900;
  font-size: 32px;
  line-height: 125%;
  color: #212121;
}
.platform-line {
  background: #333;
  height: 3px;
}
.platform-tittle {
  padding: 56px 0;
}
@media screen and (min-width: 778px) {
  .platform-content-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }
  .platform-center {
    width: 70vw;
  }
}

/* Guardian Style */

.guardian-id h3 {
  font-family: var(--ff-primary);
  font-weight: 800;
  font-size: 24px;
  line-height: 120%;
  color: var(--clr-lemon);
}
.guardian-id p {
  font-family: var(--ff-primary);
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: var(--clr-white);
}
.guardian-id {
  position: absolute;
  bottom: 5%;
  left: 7%;
}
.guardian-img-container {
  position: relative;
}
.guardian-img-container img {
  border-radius: 8px;
}
.guardian-content {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 24px;
}
.guardian-comment {
  margin-top: 86px;
}
.guardian-comment-img {
  background: linear-gradient(rgba(0, 0, 0, 0.48), rgba(0, 0, 0, 0.48)),
    url(/images/the-guardian/guardian4.png) center/cover;
  object-fit: cover;
  height: 800px;
  position: relative;
}
.g-img2 {
  display: none;
  overflow: hidden;
}
.guardian-c-text {
  position: absolute;
  bottom: 15%;
  padding: 0 24px;
}
.guardian-c-text p {
  font-family: var(--ff-primary);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--clr-grey3);
  margin-bottom: 16px;
}
.guardian-c-text h3 {
  font-family: var(--ff-primary);
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  color: var(--clr-white);
}
@media screen and (min-width: 778px) {
  .guardian-content {
    grid-template-columns: repeat(3, 1fr);
  }
  /* .guardian-center {
    width: 70vw;
  } */
  /* .guardian-container {
    width: 70vw;
  } */
  .guardian-comment-img {
    background: linear-gradient(rgba(0, 0, 0, 0.48), rgba(0, 0, 0, 0.48)),
      url(/images/the-guardian/guardian5.png) center/cover;
    max-height: 600px;
  }
  .guardian-c-text {
    max-width: 556px;
  }
  .guardian-c-text {
    bottom: 15%;
    /* padding: 0 56px; */
    left: 10%;
  }
}

/* Level up Styling */

.level-up-sticker {
  background-color: var(--clr-black);
  color: var(--clr-white);
  display: flex;
  position: absolute;
  border-radius: 6px;
  padding: 8px;
  gap: 8px;
}
.sticker1 {
  top: 20%;
  left: 20px;
}
.sticker2 {
  top: 10%;
  right: 20px;
}
.sticker3 {
  bottom: 10%;
  right: 20px;
}
.sticker4 {
  bottom: 22%;
  left: 20px;
}
.level-up-container {
  /* max-width: 500px; */
  justify-content: center;
  align-items: center;
  display: grid;
  margin: 86px 0;
}
.level-up-container h3 {
  font-family: var(--ff-primary);
  font-weight: 800;
  font-size: 52px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #fff;
  text-align: center;
  max-width: 300px;
}
.level-up-sticker p {
  font-family: var(--ff-primary);
  font-weight: 400;
  font-size: 20px;
  letter-spacing: -0.02em;
}
.level-up-center {
  background-color: var(--clr-lemon);
  position: relative;
}

/* Guest designs */
.max-img-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}
.img-container-1 {
  position: relative;
}
.img-container-1 img {
  border-radius: 8px;
}
.guest-id {
  position: absolute;
  bottom: 10%;
  left: 10%;
}

.guest-id h3 {
  font-family: var(--ff-primary);
  font-weight: 800;
  font-size: 24px;
  line-height: 120%;
  color: var(--clr-lemon);
  margin-bottom: 6px;
}
.guest-id p {
  font-family: var(--ff-primary);
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: var(--clr-white);
}
.guest-center {
  width: 90vw;
  margin: 0 auto;
}
.guest-tittle {
  display: flex;
  justify-content: space-between;
}
.arrow-container {
  visibility: hidden;
}
@media screen and (min-width: 778px) {
  .max-img-container {
    display: grid;
    grid-template-columns: 384px 384px 384px 384px 384px 384px;
  }
  .guest-center {
    width: 70vw;
    overflow-x: hidden;
  }
  .arrow-container {
    visibility: visible;
  }
}

/* Newsletter Styling  */
.news-center {
  background-color: var(--clr-white);
  padding: 80px 0;
}
.news-content {
  background-color: var(--clr-lemon);
  padding: 16px;
  border-radius: 8px;
}
.news-container {
  padding: 24px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.48)),
    url(/images/episode-images/news-background.png) center/cover;
  border-radius: 18px;
  width: 70vw;
}
.news-title h1 {
  font-family: var(--ff-primary);
  font-weight: 900;
  font-size: 24px;
  line-height: 130%;
  color: #212121;
  text-align: center;
  max-width: 180px;
  margin: 0 auto;
  margin-bottom: 16px;
}
.news-line {
  width: 160px;
  height: 3px;
  background-color: #212121;
  margin: 0 auto;
  margin-top: 24px;
  margin-bottom: 24px;
}
.news-p1 {
  font-family: var(--ff-primary);
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #1d1f25;
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 24px;
}
.news-p2 {
  font-family: var(--ff-primary);
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #4f4f4f;
}
.news-email {
  border-radius: 4px;
  padding: 12px 16px;
  width: 100%;
  height: 48px;
  border: none;
  margin-bottom: 16px;
}
.news-btn {
  border: 1px solid #000;
  border-radius: 4px;
  padding: 12px 16px;
  width: 100%;
  height: 48px;
  background-color: var(--clr-black);
  color: white;
  font-family: var(--ff-primary);
  border: none;
  margin-bottom: 8px;
}
.news-terms {
  text-decoration: underline;
  color: var(--clr-black);
}

@media screen and (min-width: 992px) {
  .news-form {
    display: flex;
    gap: 16px;
    justify-content: center;
  }

  .news-btn {
    width: auto;
    padding: 12px 36px;
  }
  .news-email {
    width: 391px;
  }
  /* .news-content {
    padding: 36px 226px;
  } */
  .news-p2 {
    margin: 0 auto;
    text-align: center;
  }
}
/* Footer Section  */
.footer p {
  font-family: var(--ff-primary);
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: #fff;
}
.footer h1 {
  font-family: var(--ff-primary);
  font-weight: 900;
  font-size: 20px;
  line-height: 140%;
  color: var(--clr-lemon);
}
.footer-3 h1 {
  max-width: 220px;
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 80px;
  padding-top: 80px;
}
.footer-bottom p {
  font-family: var(--ff-primary);
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #fff;
  margin-top: 40px;
}
.footer-bottom {
  border-top: 0.6px solid #828282;
  padding: 40px 0px 0px 0px;
  width: 100%;
}
/* .footer-logo {
  margin-top: 40px;
} */

@media screen and (min-width: 778px) {
  .footer-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .footer-3 h1 {
    max-width: 200px;
  }
  .footer-bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .footer-bottom p {
    margin-top: 0px;
  }
}

/* End of about styling */

/* About Styling */
.about-text h1 {
  font-family: var(--ff-primary);
  font-weight: 1000;
  font-size: 40px;
  line-height: 130%;
  text-align: center;
  color: var(--clr-white);
  max-width: 350px;
  margin: 0 auto;
  margin-bottom: 56px;
}
.about-container {
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (min-width: 778px) {
  .about-text h1 {
    font-size: 64px;
    max-width: 1000px;
  }
  .about-container {
    height: auto;
  }
}

.guiding-center {
  background-color: #dcdbdb;
}
/* .guiding-background {
  width: 90vw;
} */
.guiding-container {
  width: 90vw;
  margin: 0 auto;
  max-width: 1280px;
  padding-bottom: 80px;
}
.guiding-img-container img {
  border-radius: 20px;
  /* height: 100%; */
}
.guiding-img-container {
  margin-bottom: 40px;
}
.about-line {
  background: #333;
}
.about-title h1 {
  color: #121212;
}

.guiding-steps {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.about-cards {
  border-radius: 16px;
  padding: 24px 16px;
  background-color: var(--clr-white);
}
.about-cards h3 {
  font-family: var(--ff-primary);
  font-weight: 800;
  font-size: 24px;
  line-height: 100%;
  color: var(--clr-white);
  background-color: #212121;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-cards h4 {
  font-family: var(--ff-primary);
  font-weight: 800;
  font-size: 24px;
  line-height: 100%;
  color: #212121;
}
.about-cards p {
  font-family: var(--ff-primary);
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: -0.01em;
  color: #212121;
  max-width: 500px;
}
.card2 {
  background: #e0e89c;
}

@media screen and (min-width: 778px) {
  .guardian-img-container {
    margin-bottom: 0px;
  }
  .about-cards p {
    max-width: 700px;
  }
  .about-cards {
    display: flex;
    gap: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .guiding-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    width: 70vw;
  }
  .guiding-steps {
    align-items: center;
    justify-content: center;
  }
  .guiding-img-container {
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* Fact About Us*/

.fact-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}
.fact-cards {
  border-radius: 16px;
  background: #f5f5f5;
  padding: 36px 16px;
}
.fact-cards p {
  font-family: var(--ff-primary);
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: -0.01em;
  color: #4f4f4f;
  /* max-width: 300px; */
}
.fact-cards h3 {
  font-family: var(--ff-primary);
  font-weight: 800;
  font-size: 24px;
  line-height: 120%;
  color: #333;
}
.fact-img-container img {
  border-radius: 16px;
  height: 100%;
}
.fact-img-container {
  height: 100%;
}

.f-card2 {
  background: #e0e89c;
}
.f-card3 {
  background: #f4eebe;
}
.fact-center {
  width: 90vw;
  margin: 0 auto;
  padding-bottom: 80px;
}
@media screen and (min-width: 778px) {
  .fact-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "a b d"
      "c c d";
  }
  .f-card1 {
    grid-area: a;
  }
  .f-card2 {
    grid-area: b;
    background: #e0e89c;
  }
  .f-card3 {
    grid-area: c;
    background: #f4eebe;
  }
  .f-card4 {
    grid-area: d;
  }
  .fact-center {
    width: 70vw;
  }
}

/* Impact Section styling  */
.impact-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  padding-bottom: 80px;
}
.impact-card {
  background: #f4eebe;
  padding: 24px 16px;
  border-radius: 16px;
}
.i-card1 h3 {
  font-family: var(--ff-primary);
  font-weight: 800;
  font-size: 24px;
  color: #1a1a1a;
}
.i-card2 h3 {
  font-family: var(--ff-primary);
  font-weight: 900;
  font-size: 60px;
  text-align: center;
  color: #000;
  margin-bottom: 0px;
}
.i-card2 h5 {
  font-family: var(--ff-primary);
  font-weight: 900;
  font-size: 14px;
  text-align: center;
  color: #000;
}
.i-card2 {
  background-color: #ffffff;
  /* padding-top: 56px;
  padding-bottom: 56px; */
}
.icard5 {
  background: #e0e89c;
}
.i-card5 p {
  font-family: var(--ff-primary);
  font-size: 14px;
}
.i-card5 h3 {
  font-family: var(--ff-primary);
  font-weight: 800;
  font-size: 24px;
  line-height: 120%;
  color: #000;
}

@media screen and (min-width: 778px) {
  .impact-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      "a a b c"
      "d e e c";
    gap: 1rem; /* Optional: adds space between grid items */
  }

  .i-card1 {
    grid-area: a;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
  }

  .i-card2 {
    grid-area: b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .i-card3 {
    grid-area: c;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
  }

  .i-card4 {
    grid-area: d;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
  }

  .i-card5 {
    grid-area: e;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
  }
  .impact-center {
    margin: 0 auto;
    width: 70vw;
  }
}

/* PArtnership Styling */
.partner-text p {
  font-family: var(--ff-primary);
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: -0.01em;
  color: #e0e0e0;
  margin-bottom: 16px;
  max-width: 318px;
}
.partner-btn {
  font-family: var(--ff-primary);
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  color: #212121;
  border: none;
}
.partner-line {
  width: 160px;
  height: 2px;
  background: #e0e0e0;
  margin-bottom: 24px;
}
.partner-title h1 {
  font-family: var(--ff-primary);
  font-weight: 900;
  font-size: 32px;
  line-height: 140%;
  color: #f2f2f2;
}
.partner-img-container {
  position: relative;
}
.p-img-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 479px;
  height: 320px;
}

@media screen and (min-width: 778px) {
  .partner-text-area {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* FAQ Section */

.faq-title-p {
  font-family: var(--ff-primary);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #828282;
}
.faq-center {
  background: #fff;
}
.faq-title-line {
  width: 80px;
  height: 2px;
  background: #4f4f4f;
}
.faq-title-h1 {
  font-family: var(--ff-primary);
  font-weight: 900;
  font-size: 32px;
  line-height: 120%;
  color: #000;
}
.faq-question-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.faq-line {
  width: 160px;
  height: 2px;
  background-color: var(--clr-lemon);
  margin-bottom: 24px;
}
.faq-question-title h3 {
  font-family: var(--ff-primary);
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  color: #333;
}
.faq-content {
  font-family: var(--ff-primary);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #828282;
  display: none;
}
.faq-question {
  border: 0.05px solid #d1d1d1;
  border-left: none;
  border-right: none;
  /* border-radius: 16px; */
  padding: 20px 10px;
}
.faq-container {
  width: 90vw;
  margin: 0 auto;
  max-width: 1280px;
  padding-bottom: 80px;
  padding: 80px 0;
}
.open-faq-content {
  display: block;
}
.faq-q-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media screen and (min-width: 778px) {
  .faq-container {
    width: 55vw;
    margin: 0 auto;
    max-width: 1280px;
  }
}

/* Share Experience Styling */
.share-center {
  background: #f5f5f5;
}
.c-us {
  border-radius: 999px;
  width: 300px;
  height: 300px;
  background: #111;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.share-title-p1 {
  font-family: var(--ff-primary);
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  color: #828282;
  margin-bottom: 16px;
}
.c-us h2 {
  font-family: var(--ff-primary);
  font-weight: 900;
  font-size: 36px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #b2bf33;
}
.share-background {
  width: 90vw;
  margin: 0 auto;
  max-width: 1280px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 80px 0;
  gap: 100px;
}
.share-btn {
  margin-top: 32px;
}
.share-right {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 778px) {
  .share-background {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 70vw;
    align-items: center;
  }
}

/* Partnership Styling */
.become-top h3 {
  font-family: var(--ff-primary);
  font-weight: 900;
  font-size: 48px;
  line-height: 115%;
  text-align: center;
  color: #fff;
  max-width: 288px;
}
.b-b-img2 {
  display: none;
  height: 0;
}
.become-container {
  /* height: calc(100vh - 80px); */
  display: grid;
  align-items: center;
  padding: 80px 0;
  gap: 80px;
}
.become-top {
  display: grid;
  justify-content: center;
}
.b-b-img1 {
  border-radius: 16px;
}
.become-btn-ctn {
  display: flex;
  justify-content: center;
}
.become-btn {
  background-color: white;
}
.become-center {
  background: #111111;
}
.become-title h1 {
  color: var(--clr-white);
}
.become-line {
  background-color: var(--clr-white);
}
@media screen and (min-width: 778px) {
  .b-b-img1 {
    display: none;
    height: 0;
    width: 10px;
  }
  .b-b-img2 {
    display: flex;
    height: 100%;
  }
  .become-top h3 {
    max-width: 450px;
  }
}

/* Visit Styling */
.visit-center {
  background-color: white;
}
.visit-max-container {
  width: 90vw;
  margin: 0 auto;
  max-width: 1280px;
  padding-bottom: 80px;
}
.visit-c-img img {
  border-radius: 16px;
}
.visit-c-img {
  margin-bottom: 16px;
}
.visit-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.visit-c1 p {
  font-family: var(--ff-primary);
  font-weight: 800;
  font-size: 14px;
  line-height: 120%;
  color: #333;
  margin-bottom: 8px;
}
.visit-c1 h3 {
  font-family: var(--ff-primary);
  font-weight: 800;
  font-size: 20px;
  line-height: 120%;
  color: #000;
}
@media screen and (min-width: 778px) {
  .visit-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

/* Myth styling */
.myths-item1 {
  border-radius: 4px;
  padding: 9px 13px;
  display: inline-flex;
  background: #4f4f4f;
  justify-content: center;
}
.myths-item1 h3 {
  margin-bottom: 0;
  padding-bottom: 0;
  font-family: var(--ff-primary);
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: -0.01em;
  color: #aab91e;
}
.myth-title h1 {
  font-family: var(--ff-primary);
  font-weight: 900;
  font-size: 32px;
  line-height: 120%;
  color: #fff;
}
.myth-title p {
  font-family: var(--ff-primary);
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;
  letter-spacing: -0.01em;
  color: #fff;
  text-transform: uppercase;
}
.myth-item-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}
@media screen and (min-width: 778px) {
  .myth-item-container {
    grid-template-columns: repeat(7, 1fr);
  }
}

/* Recording Section */

.grey-circle {
  border-radius: 100000000px;
  width: 20px;
  height: 20px;
  background: var(--clr-grey2);
}
.record-dashed-line {
  border: 0.5px dashed var(--clr-lemon);
  width: 0px;
  height: 100%;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
}
.circle-dashed-line-container {
  position: relative;
  /* display: flex;
  align-items: center; */
  display: inline-flex;
}
.record-item-text p {
  font-family: var(--ff-primary);
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  letter-spacing: -0.01em;
  color: #fff;
  max-width: 400px;
}
.record-item-text h4 {
  font-family: var(--ff-primary);
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: var(--clr-lemon);
  text-transform: uppercase;
}
.record-item-text h3 {
  font-family: var(--ff-primary);
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.04em;
  color: #e0e0e0;
  text-transform: uppercase;
}
.record-container {
  display: flex;
  gap: 16px;
}
.record-mmax-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* Gallery Styling */

.gallery-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
  /* grid-template-areas:
    "a b b c c d"
    "e e f f g g";
} */


